.details{
    width: 900px;
    max-width: 90%;
    margin: 0 auto;
}
.Details-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(228, 221, 221);
    margin: 20px;
    padding: 20px;
    border-radius: 14px;
}
.team-img img{
    height: 150px;
    border-radius: 10px;
}
p{
    text-align: justify;
    color: gray;
    margin: 20px;
    padding: 20px;
    border-radius: 14px;
    background-color: rgb(228, 221, 221);
}